<!-- Load this script after `@livewireScripts` in your layout or where you like putting scripts. -->
<script>
    let animations = []

    Livewire.hook('message.received', () => {
        let things = Array.from(document.querySelectorAll('[animate-move]'))

        animations = things.map(thing => {
            let oldTop = thing.getBoundingClientRect().top

            return () => {
                let newTop = thing.getBoundingClientRect().top

                thing.animate([
                    { transform: `translateY(${oldTop - newTop}px)` },
                    { transform: `translateY(0px)` },
                ], { duration: 1000, easing: 'ease' })
            }
        })

        things.forEach(thing => {
            thing.getAnimations().forEach(animation => animation.finish())
        })
    })

    Livewire.hook('message.processed', () => {
        while (animations.length) {
            animations.shift()()
        }
    })
</script>